
obj/x86/Debug/SIM.pdb

obj/x86/Debug/SIM.exe

obj/x86/Debug/SIM.Form4.resources

obj/x86/Debug/ResolveAssemblyReference.cache

obj/x86/Debug/GenerateResource.read.1.tlog

bin/x86/Debug/SIM.pdb

bin/x86/Debug/SIM.exe

SIM_1.7.suo
